html {
  background-color: LightGoldenrodYellow;
  color: SteelBlue;
  margin: auto;
}

h1,
h2 {
  font: 25px 'Indie Flower', cursive;
}

body {
  color: SteelBlue;
  font: 25px 'Major Mono Display', monospace;
  border: 20px outset PowderBlue;
  margin: auto;
  text-align: center;
}

img {
  border: 10px inset PowderBlue;
  margin: auto;
  box-shadow: PowderBlue;
}
  
p {
  color: SteelBlue;
  text-decoration: none;
  margin: auto;
  text-align: justify;
}
  
ul {
  list-style-type: disc;
}

a {
 color: SteelBlue;
 text-decoration: none;
}

a:visited {
      color: RebeccaPurple;
    }

a:hover {
      color: DodgerBlue;
      text-decoration: underline;
    }
   
     
  
