html {
  background-color: LightGoldenrodYellow;
  color: SteelBlue;
  text-align: center;
}

header {
   border: 20px outset PowderBlue;
   margin: auto;
   text-align: center;
}
  
h1,
h2 {
  font: 50px 'Indie Flower', cursive;
  margin: auto;
  text-align: center;
  text-shadow: 5px 6px 6px LightCoral;
}

body {
  color: SteelBlue;
  font: 50px 'Major Mono Display', monospace;
  margin: auto;
  text-shadow: 5px 6px 6px LightCoral;
  text-align: center;
}

img {
  border: 10px inset PowderBlue;
  margin: auto;
  box-shadow: PowderBlue;
}
  
p {
  color: SteelBlue;
  text-decoration: none;
  margin: auto;
  text-align: center;
}
  
ul {
  list-style-type: disc;
}

a {
 color: SteelBlue;
 text-decoration: none;
}

a:visited {
      color: RebeccaPurple;
    }

a:hover {
      color: DodgerBlue;
      text-decoration: underline;
    }
   
     
  
